<div class="main">
    <div class="content">
        <div class="chat-main">
            <div class="row mx-0">
                <div class="col-lg-3">blank content</div>
                <div class="col-lg-6">
                    <div class="chat-box-main">
                        <div class="chat-box">
                            <!-- <div class="no-data">
                                <div class="img-box">
                                    <img src="../../../assets/img/robot-01.svg" alt="robot-01.svg">
                                </div>
                            </div> -->
                            <div class="chat-container">
                                <div *ngFor="let x of [1,2,3,4,5,6]"  >
                                    <div class="questoin" >
                                        <div class="text-mesg">
                                            <div class="user-icon">
                                                <span><img src="https://storage.googleapis.com/dawaadost.appspot.com/medwiki-videos/medwiki-assets/user.png" alt="user-icon"></span> 
                                            </div>
                                            <div class="mesg-main">
                                            <div class="mesg">
                                               <p>Welcome to Medwiki! Your go-to destination for all your medicine information needs. To being process, please type your email address.</p>
                              
                                              </div>
                                            </div>
                                            
                                          </div>
                                    </div>
                                    <div class="questoin answer" >
                                        <div class="text-mesg">
                                            <div class="user-icon">
                                                <span><img src="https://storage.googleapis.com/dawaadost.appspot.com/medwiki-videos/medwiki-assets/user.png" alt="user-icon"></span> 
                                            </div>
                                            <div class="mesg-main">
                                            <div class="mesg">
                                               <p>Welcome to Medwiki! Your go-to destination for all your medicine information needs. To being process, please type your email address.</p>
                              
                                              </div>
                                            </div>
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-footer-main">
                                <div class="chat-footer">
                                    <input type="text" placeholder="send us a meesage">
                                    <button><i class="fa-solid fa-chevron-right"></i></button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">blank content</div>
            </div>
        </div>
    </div>
</div>