.main {
    padding: 0px;
    margin: 0px;
    background-color: #f1f3f4;

    .content {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;

        .chat-main {
            .chat-box-main {
                width: 100%;
                min-height: 100vh;
                background-color: #fff;
                .chat-box {
                    position: relative;
                    min-height: 100vh;

                    .no-data {
                        display: none;
                        // min-height: calc(100vh - 100px);
                        min-height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .img-box {
                            width: 500px;
                            height: 500px;
                            margin: 0 auto;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .chat-container {
                        .questoin{
                            padding: 10px;
                            .text-mesg{
                                display: flex;
                                align-items: start;
                                margin: 20px 0px;
                                .user-icon{
                                    span{
                                        margin-right: 10px;
                                        width: 30px;
                                        height: 30px;
                                        display: block;
                                        border-radius: 20px;
                                        overflow: hidden;
                                        margin-bottom: 5px;
                                        background-color: #da251e;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .answer{
                            border: 1px solid #d4d4d4;
                            border-right: none;
                            border-left: none;
                            background-color: #F7F7F8;
                        }
                    }

                    .chat-footer-main {

                        .chat-footer {
                            margin: 0 !important;
                            border-top: 1px solid #cfd8dc;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            padding: 10px 15px;
                            background-color: #fff;

                            input{
                                font-size: 15px;
                                padding: 7px 15px;
                                outline: none;
                                box-shadow: none;
                                width: 90%;
                                margin: 0px;
                                margin-right: 10px;
                                background: none;
                                border: 1px solid red;
                                border-radius: 50px;
                            }
                            button{
                                width: 30px;
                                height: 30px;
                                padding: 0px;
                                background-color: #4CAF50;
                                color: white;
                                border: none;
                                border-radius: 50%;
                                cursor: pointer;
                                background-color: #da251e;
                            }
                        }
                    }
                }
            }
        }
    }
}