/* You can add global styles to this file, and also import other style files */
.main {
    padding: 0px;
    margin: 0px;

    font-family: 'Montserrat', sans-serif;
    background-color: #f1f3f4;

    .content {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;

        .chat-main {


            .chat-box-main {
                width: 100%;
                min-height: 100vh;
                background-color: #fff;

                .chat-box {
                    position: relative;
                    min-height: 100vh;

                    .no-data {
                        display: none;
                        // min-height: calc(100vh - 100px);
                        min-height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .img-box {
                            width: 500px;
                            height: 500px;
                            margin: 0 auto;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .chat-container {
                        max-height: calc(100vh - 58px);
                        overflow: hidden;
                        padding: 10px;
                        overflow-y: auto;

                        /* Track */
                        &::-webkit-scrollbar {
                            width: 8px;
                        }

                        /* Thumb */
                        &::-webkit-scrollbar-thumb {
                            background-color: transparent;
                            border-radius: 5px;
                        }

                        /* Track on hover */
                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #ECECF1;
                        }

                        /* Track when dragged */
                        &::-webkit-scrollbar-thumb:active {
                            background-color: #333;
                        }

                        /* Track background */
                        &::-webkit-scrollbar-track {
                            background-color: #fff;

                        }

                        &:hover {
                            &::-webkit-scrollbar-thumb {
                                background-color: #ececf1;

                            }
                        }

                        .questoin {
                            padding: 10px;

                            .text-mesg {
                                display: flex;
                                align-items: start;
                                margin: 10px 0px;

                                .mesg-main {
                                    .mesg {
                                        background-color: #f1f3f4;
                                        padding: 6px;
                                        border-radius: 10px;

                                        p {
                                            margin: 0px;
                                        }
                                    }
                                }

                                .user-icon {
                                    span {
                                        margin-right: 10px;
                                        margin-bottom: 5px;
                                        width: 30px;
                                        height: 30px;
                                        display: block;
                                        border-radius: 20px;
                                        overflow: hidden;
                                        background-color: #da251e;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            &:not(.answer) {
                                .text-mesg {
                                    flex-direction: row-reverse;

                                    .mesg {
                                        background-color: #e0e0e0;
                                    }

                                    .user-icon {
                                        span {
                                            background: none;
                                            margin-right: unset;
                                            margin-left: 10px;
                                        }
                                    }

                                }
                            }
                        }

                        .answer {
                            // border: 1px solid #d4d4d4;
                            // border-right: none;
                            // border-left: none;
                            // background-color: #F7F7F8;

                        }
                    }

                    .chat-footer-main {

                        .chat-footer {
                            margin: 0 !important;
                            border-top: 1px solid #cfd8dc;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 10px 15px;
                            background-color: #fff;

                            input {
                                font-size: 15px;
                                padding: 7px 15px;
                                outline: none;
                                box-shadow: none;
                                width: 93%;
                                margin: 0px;
                                margin-right: 10px;
                                background: none;
                                border: 1px solid red;
                                border-radius: 50px;

                                &::placeholder {
                                    color: #9393A4;
                                    font-weight: 600;
                                    font-size: 15px;
                                }
                            }

                            button {
                                width: 30px;
                                height: 30px;
                                padding: 0px;
                                color: white;
                                border: none;
                                border-radius: 50%;
                                cursor: pointer;
                                background-color: #da251e;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-disbaled {
    background-color: #9393A4 !important;
    pointer-events: none;
}